    
.circle {
  margin: 0 auto;


}

.circle img {
  position: absolute;
  bottom: 0;
  width: 30%;
  margin: auto;
  top: 10; left: 0; bottom: 0; right: 0;

}

.bg-dark {
    background-color: #212529;
}

.static-top{
    background-color: #212529 !important;
}
